main{
  min-height: 70vh;
  display:flex;
}

.sections{
  display:flex;
  flex-direction: column;
  width:70vw;
}

.aside{
width : 30vw;
  background-color: rgb(186, 186, 193);
}



footer{
  position: sticky;
  bottom:0;
}
